@use "variables" as *;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*---cleaning styles---*/
* {
  font-size: 24px;
  color: $secondary-color;
}
button {
  box-shadow: none;
  border: none;
}
body {
  background-color: $tertiary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home {
  text-align: center;
}
p {
  color: $secondary-color;
}
.button {
  background-color: $primary-color;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 24px;
  color: $secondary-color;
  font-size: 24px;
  transition: 100ms all;
}
.button:hover {
  transition: 100ms all;
  background-color: $primary-color;
}
a {
  color: $secondary-color;
  text-decoration: none;
}