:root {
    --primary-color: #BE2219;
    --primary-shaded-color: #9c1b15;
    --secondary-color: #131313;
    --tertiary-color: #343131;
    --border-color: #4c4c4c;
    --text-color: #FFFBFB;
}

// #6F6F6F