.popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}
.popupWindow {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 52px;
}
.title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 42px;
}
.text {
    text-align: center;
}