.content {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.interaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.workoutFilters > input {
    width: 260px;
    border: 3px solid var(--border-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.workoutFilters > input:not(:last-of-type) {
    margin-right: 24px;
}
.workoutList {
    margin-bottom: 80px;
}
.workout {
    border: 2px solid var(--border-color);
    border-radius: 15px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
} 
.workout:not(:last-of-type) {
    margin-bottom: 24px;
}   
.workoutInfo > .workoutTitle {
    font-size: 32px;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 12px;
}
.workoutInfo > p {
    font-size: 24px;
}
.workoutInfo > p:not(:last-of-type) {
    margin-bottom: 6px;
}