.popup {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 52px;
}
.title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 42px;
}
.text {
    text-align: center;
}