.content {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.exerciseFilters {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 52px;
}
.exerciseFilters input {
    width: 260px;
    border: 2px solid var(--border-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.exerciseFilters input:not(:last-of-type) {
    margin-right: 24px;
}
.exerciseList {
    margin-bottom: 160px;
}
.exerciseContainer {
    border: 2px solid var(--border-color);
    border-radius: 15px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
.exerciseContainer:not(:last-of-type) {
    margin-bottom: 24px;
}
.exerciseContent {
    display: flex;
    justify-content: start; 
}
.exerciseImage {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 24px;
}
.exerciseDescription > h2 {
    font-size: 32px;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 12px;
}
.exerciseDescription > p {
    font-size: 24px;
}
.viewExerciseButton {
    font-size: 18px;
    padding: 8px;
}